
/*=================================
        defolt-css here
===================================*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #222;
    background: #fff;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
img {
    max-width: 100%;
    height: auto
}
.fix {
    overflow: hidden
}
p {
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
    margin-top: 0px;
    color: #222;
}
input:focus,
select:focus {
    outline: none;
}
input,
button,
img {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}
a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    text-decoration: none;
    color: #222;
}
a:hover {
    color: #249cf2;
}
a:active,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}
button:focus {
    outline: none;
}
button {
    cursor: pointer;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
:before,
:after {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}
div {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

/*--------header-area start--------*/
.header-area{
    background: #0a406f;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.header-left h5{
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 0;
}
.header-left h5 a{
    font-size: 36px;
    color: #fff;
}
.header-right a{
    display: inline-block;
    padding: 6px 15px;
    background: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
    /*font-style: italic;*/
}
.header-right a i{
    margin-right: 5px;
}

.menu {
    height: 35px;
    width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: right;
    padding: 0px 8px;
    z-index: 99999999999;
    position: relative;
}

.menu li {
    height: 2px;
    width: 20px;
    background: #0a406f;
    margin-bottom: 2px;
    -webkit-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
}

.menu.active li.first {
    -webkit-transform: translateY(4px) rotateZ(-135deg);
    transform: translateY(4px) rotateZ(-135deg);
    background-color: #249cf2;
}

.menu.active li.second {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.menu.active li.third {
    -webkit-transform: translateY(-4px) rotateZ(135deg);
    transform: translateY(-4px) rotateZ(135deg);
    background-color: #249cf2;
}

/*--------header-area end--------*/

/*--------sidebar-area start--------*/
.sidebar-style{
    position: relative;
}
.sliderbar-area{
    position: fixed;
    left: 15px;
    top: 77px;
    background: #0a406f;
    height: 100%;
    width: 200px;
}
.slidebar-title {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 0;
    background: #fff;
    padding: 15px 0;
    text-align: center;
}
.profile-img{
    position: relative;
    background: #fff;
    padding-bottom: 5px;
}
.profile-img img{
    width: 100%;
}
.profile-content{
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
}
.profile-content button{
    width: 100%;
    height: 35px;
    border: none;
    background: #249cf2;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.profile-content button i{
    margin-right: 5px;
}
.profile-content button:hover{
    background: #0a406f;
}
.mainmenu{
    margin-top: 15px;
}
.mainmenu ul li a{
    line-height: 40px;
    font-size: 24px;
    display: block;
    padding: 5px 15px;
    font-weight: 500;
    color: #fff;
}
.mainmenu ul li.active a,
.mainmenu ul li:hover a{
    background: #249cf2;
} 
/*--------sidebar-area end--------*/

/*--------main-area content start--------*/
.main-content{
    background: #edf1f4;
    padding: 15px;
    margin-top: 0px;
    overflow: hidden;
}
.search-wrapper ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
}
.search-wrapper ul li{
    margin-right: 10px;
}
.search-wrapper ul li:last-child{
    margin-right: 0;
}
.search-wrapper ul li h5{
    font-size: 24px;
    margin:8px 0;
}
.search-wrapper ul li.search-form form{
    position: relative;
} 
.search-wrapper ul li.search-form input{
    width: 650px;
    height: 45px;
    border: 2px solid #94989b;
    padding: 0px 120px 0px 20px;
}
.search-wrapper ul li.search-form button{
    position: absolute;
    right: 0;
    top: 0;
    background: #249cf2;
    border: 2px solid #94989b;
    border-left: 3px solid #94989b;
    width: 120px;
    height: 100%;
    font-size: 18px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 500;
    color: #fff;
}
.search-wrapper ul li.search-form button:hover{
    background: #0a406f;
}
.table-responsive tr th,
.table-responsive tr td{
    width: 250px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    height: 65px;
}
.table-responsive tbody tr{
    margin-bottom: 20px;
}
.table-responsive ul li a{
    display: block;
    font-size: 18px;
    padding: 1px 20px;
    background: #249cf2;
    color: #fff;
    margin-bottom: 3px;
}
.table-responsive ul li:last-child a{
    margin-bottom: 0;
}
.table-responsive ul li a:hover{
    background: #0a406f;
}

/*--------main-area content start--------*/
.section-title {
    font-size: 30px;
    margin-bottom: 20px;
}
.section-title span{
    font-size: 24px;
}
.deshbord-wrap {
    min-height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    background: #00abd6;
}
.deshbord-color1{
    background: #f39c0f;
}
.deshbord-color2{
    background: #01a659;
}
.deshbord-wrap h3{
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}
.deshbord-wrap h4{
    font-size: 24px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 0;
}

.search-wrapper .search-wrapper h5{
    font-weight: 600;
}
.select-form select {
    border: none;
    color: #fff;
    padding-left: 20px;
    width: 565px;
}
.select-form .select2-container--default .select2-selection--single {
    border-radius: 0;
    height: 45px;
    background: #00abd6;
    border: none;
}
.select-form .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 45px;
    color: #fff;
}
.select-form .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
    margin-top: 6px;
}
.contact-history{
    margin-bottom: 40px;
}
.contact-history .select-form .select2-container--default .select2-selection--single{
    background: #fff;
    
}
.contact-history .select-form .select2-container--default .select2-selection--single .select2-selection__rendered{
   color: #222; 
}
.contact-history .select-form .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #222 transparent transparent transparent;
}
#contact-google-map{
    height: 500px;
    width: 100%;
    background: #00abd6;
}
#contact-google-map2{
    height: 500px;
    width: 100%;
    background: #00abd6;
}

.login-area{
    background:#22a5f5 url(../images/bg2.jpg) no-repeat center center / cover;
    min-height: 100vh;
    padding-top: 50px;
}
.logo{
    margin-top: 60px;
}
.logo img{
    width: 200px;
}
.login-form{
    position: relative;
    background: #fff;
    padding: 30px;
    max-width: 350px;
    margin:0px auto 0; 
}
/*.line {
    position: relative;
}
.line:before{
    position: absolute;
    left: -45px;
    top: 0;
    width: 5px;
    height: 100%;
    content: "";
    background: url(../images/line.png);
    z-index: 99;
    border-radius: 5px;
}*/
.login-form h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #22a5f5;
}
.login-form input{
    width: 100%;
    padding-left: 10px;
    height: 40px;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
}
.login-form button{
    height: 40px;
    font-size: 15px;
    width: 100%;
    border: none;
    background: #22a5f5;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.login-form a{
    display: inline-block;
    color: #22a5f5;
    font-size: 15px;
}
.login-form button:hover{
    background: #0a406f;
}
.select-form-style h3{
    font-size: 20px;
}
.select-form-style select{
    width: 100%;
    height: 35px;
    border-radius: 0px;
}
.select-form-style select:focus{
    outline: none;
    border: none;
}
.profile-info tr th,
.profile-info tr td{
    background: #fff;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}
.profile-info tr th.addmenu{
    background: #249cf2;
    color: #fff;
}
.profile-info tr th.addmenu a{
    color: #fff;
}